{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="../static/css/donation_successful.css">


<main class="cd-main new-header-main-content">
<div id="page">
  <div id="text">
    <h1>Thank You!</h1>
    <h4>YOUR SUPPORT IS APPRECIATED</h4>
    <ul class="icon-list">

      <li><a href="https://www.facebook.com/armnewbrunswick/" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/armnewbrunswick" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/armnewbrunswick/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="https://www.snapchat.com/add/ARMNewBrunswick" target="_blank"><i class="fa fa-snapchat fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="mailto:info@armnewbrunswick.org?Subject=How%20Can%20I%20Help?" target="_blank"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a></li>

    </ul>
    <h6>Wanna know what ARM is up to? Follow us!</h6>
    <a href="http://bit.ly/arm_donors" target='_blank'><b class="link-button">Join Us</b></a>
  </div>
</div>
</main>
{% endblock %}
