<footer>
  <br>

  <div class="row">

    <div class="col-md-1">
    </div>

    <div class="col-md-3">

      <h4>Follow our news podcast!</h4>

      <ul>
        <li>
          <a href="https://itunes.apple.com/us/podcast/marching-orders/id1310885039?mt=2">
            <img src="../static/img/podcast/itunes.png" style="max-width:30%;"></a>

          <a href="https://play.google.com/music/m/Irwdhwbpavezf2u7qxgwfa4vvxi?t=Marching_Orders">
            <img src="../static/img/podcast/playmusic.png" style="max-width:30%;">
          </a>
        </li>


      </ul>
    </div>

    <div class="col-md-3">
      <ul class="colorwhite">

        <li class="">
          <a href="/about_us">About Us</a>
        </li>

        <li>
          <a href="" target="_blank">Board of Trustees</a>
        </li>

        <li>
          <a href="https://www.instagram.com/armnewbrunswick/" target="_blank">Instagram</a>
        </li>

        <li>
          <a href="mailto:info@armnewbrunswick.org?Subject=How%20Can%20I%20Help?" target="_blank">Email Us!</a>
        </li>

      </ul>
    </div>

    <div class="col-md-4 colorwhite">
      <h3>"#JointheARMy and let's fight to make our community a little better, together!"</h3>
    </div>

    <div class="col-md-1">
    </div>

  </div>
</footer>
