<header>
    <nav class="cd-main-nav-wrapper">
        <ul class="cd-main-nav">
            <li id="main-logo">
                <img class="arm-nav-logo" src="../static/img/arm_banner.png" alt="Archangel Raphael's Mission">
            </li>
            <!-- <li><a href="#0">Blog</a></li>
                    <li><a href="http://bit.ly/join_us_banner" target='_blank'>Join Us</a>
                    <li><a href="stripe donate!">Donate</a>
                    -->
            <li>
                <!-- Connect button -->
                <a id="donate-header-button" href="https://donorbox.org/arm-new-brunswick" class="custom-dbox-popup"><span>Donate Now</span></a>
                <a href="#0" class="cd-subnav-trigger"><span>Connect</span></a>
                <ul class="icon-list">
                    <li class="go-back"><a href="#0">Menu</a></li>
                    <li><a href="https://www.facebook.com/armnewbrunswick/" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/armnewbrunswick" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/armnewbrunswick/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.snapchat.com/add/ARMNewBrunswick" target="_blank"><i class="fa fa-snapchat fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="mailto:info@armnewbrunswick.org?Subject=How%20Can%20I%20Help?" target="_blank"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a></li>
                </ul>
            </li>
        </ul>
        <!-- .cd-main-nav -->
    </nav>
    <!-- .cd-main-nav-wrapper -->
    <a href="#0" class="cd-nav-trigger">Menu<span></span></a>
</header>
