<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>ARM | Archangel Raphael's Mission </title>

    <!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Vollkorn|Open+Sans|Signika|Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>

  <link href="https://fonts.googleapis.com/css?family=Overlock:400i" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>


	<link rel="stylesheet" href="../static/bower_components/font-awesome/css/font-awesome.min.css"> <!-- Resource style -->

	<link rel="stylesheet" href="../static/css/reset.css"> <!-- CSS reset -->
	<!-- <link rel="stylesheet" href="../static/css/folding-panels.css"> [> Resource style <] -->
  <link rel="stylesheet" href="../static/css/folding-panel.css">
  <link rel="stylesheet" href="../static/css/new-header.css">
  <link rel="stylesheet" href="../static/css/extra-styles.css"> <!-- Resource style -->

  <link rel="icon" type="image/x-icon" href="../static/favicon.ico"/>


  {% include 'seo.html' %}
</head>
