<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Vollkorn|Open+Sans:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="../static/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="../static/css/style.css"> <!-- Resource style -->
	<script src="../static/js/modernizr.js"></script> <!-- Modernizr -->

	<title>ARM | Archangel Raphael's mission </title>
</head>
<body>
	<main class="cd-main">
		<header>
			<h1>Archangel Raphael's Mission</h1>
		</header>

		<ul class="cd-gallery">
			<li class="cd-item">
				<a href="item-1.html">
					<div>
						<h2>Our Mission</h2>
						<p>What we do, and why we do it..</p>
						<b>View More</b>
					</div>
				</a>
            </li>

			<li class="cd-item">
				<a href="item-2.html">
					<div>
						<h2>Our Programs</h2>
						<p>Learn about what we're up to</p>
						<b>View More</b>
					</div>
				</a>
			</li>

			<li class="cd-item">
				<a class="dark-text" href="item-3.html">
					<div>
						<h2>Join Us</h2>
						<p>There is no shortage of ways to get involved, let’s make change happen</p>
						<b>View More</b>
					</div>
				</a>
			</li>

			<li class="cd-item">
				<a href="item-4.html">
					<div>
						<h2>Our Partners</h2>
						<p>We're proud to feature our sponsors who have made sacrifices to support us and demonstrate a commitment to change.</p>
						<b>View More</b>
					</div>
				</a>
			</li>
		</ul> <!-- .cd-gallery -->
	</main> <!-- .cd-main -->

	<div class="cd-folding-panel">

		<div class="fold-left"></div> <!-- this is the left fold -->

		<div class="fold-right"></div> <!-- this is the right fold -->

		<div class="cd-fold-content">
			<!-- content will be loaded using javascript -->
		</div>

		<a class="cd-close" href="#0"></a>
	</div> <!-- .cd-folding-panel -->

<script src="../static/js/jquery-2.1.1.js"></script>
<script src="../static/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
