<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->

</head>
<body>
	<div class="cd-fold-content single-page">

      <img src="../static/img/JoinUs_Header.jpg" class="our-mission-header-img">

      <section class="fold-section-padding">

		<h2>Join Us</h2>
		<h3>There is no shortage of ways to get involved, let’s make change happen:</h3>

        <a href="http://bit.ly/join_us_top" target='_blank'><b class="link-button">Join Us</b></a>
        <form id="stripe-form" action="/charge" method="POST">
        	<input type="hidden" id="stripeToken" name="stripeToken" />
        	<input type="hidden" id="stripeEmail" name="stripeEmail" />
        	<a id="stripe-button"><b class="link-button">Donate</b></a>
        </form>

        <h4>Field Volunteer:</h4>
		<p>
        Join us on one of our nights of service as we bring dinner, supplies, and necessities to the working class and underserved of our community. ARM goes out daily to
		ensure that that in need have the resources that are necessary. We are also very proud to provide an essential resource; friendship and companionship. Advocacy and intervention are useless if there is no relationship with those you are trying to help, if you want to make a new friend and do a good deed in the process field volunteering is perfect for you! (Approx time commitment (1-2 Hours per week)
		</p>

        <h4>Support Volunteer:</h4>
		<p>
        There are those of us who are not in the New Brunswick area, but still want to help. Maybe you have a professional skill (law, medicine, trades, etc) that you would like to feature for our community. Maybe you enjoy working in a team collaborative environment, or perhaps you just don’t have the time to commit to something on a regular and structured basis. There are a ton of programs we have and are planting every day, and each program will need dedicated supporters to help grow it into a resource for the community. Let's sit down and talk about how we can feature your dedicated work! (Approximate time commitment < 1 hour a week)
		</p>

        <h4>Ambassador:</h4>
		<p>
        There are those of us who don’t have the time to volunteer in the field or to help out with support, but we have a diverse and motivated friend group. As an ambassador, it would be your responsibility to help grow ARM’s recognition on social media and in person. The best way to get someone involved is to make sure they know about us first! (Approximate time commitment 1-2 hours a month)
		</p>

        <h4>Donor:</h4>
		<p>
        A fantastic way to support something you believe in is by making a donation! Our mission is powered by our volunteers and secured by the generosity of our donors. If you would like to donate money, items, or other resources let’s take a moment to see how we can work together to highlight your generosity in our community!
		</p>

        <a href="http://bit.ly/join_us_bottom" target='_blank'><b class="link-button">Join Us</b></a>
        <form id="stripe-form" action="/charge" method="POST">
        	<input type="hidden" id="stripeToken" name="stripeToken" />
        	<input type="hidden" id="stripeEmail" name="stripeEmail" />
        	<a id="stripe-button"><b class="link-button">Donate</b></a>
        </form>

      </section>
	</div>
</body>
<script src="../static/bower_components/jquery/dist/jquery.min.js"></script> <!-- Resource jQuery -->
<script src="js/main.js"></script>
</body>
</html>
