<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->

</head>
<body>
	<div class="cd-fold-content single-page">

    <img src="../static/img/Join_Us_Header.png" class="our-mission-header-img">

    <section class="fold-section-padding">

		<h2>Join Us</h2>

		<h3>There is no shortage of ways to get involved, let’s make change happen:</h3>


<h4>
  Community Haircut:
</h4>

<p>
Community Haircut:
For those living on the streets all energy and expenditures are spent on the most basic elements of survival- food, shelter and clothing. This rarely leaves any resources for things like haircuts which can have a profound impact on a person's self-esteem. ARM is now partnering with local hairdressers to provide free haircuts to the homeless community. These haircut events will provide the fundamental grooming and meaningful social connection it takes to inspire transformation.
</p>

<p>
Make life more than just survival.
</p>



<h4>
  Community Dinners:
</h4>

<p>
  ARM hosts two annual community dinners that bring together a diverse array of local businesses, students, professionals, and volunteers to connect and explore opportunities for change. These events are used an opportunity to showcase the dedicated work of our local shops and citizens and also as an opportunity to stock up and distribute supplies for the upcoming challenges (coats in winter, sunscreen in summer, etc). People of all backgrounds are invited to join us in our mission to cultivate collaboration, leadership and generosity in our community.
</p>

<p>
  These dinners would not be possible without the integral support of local businesses, generous donors and devoted volunteers!
</p>


<h4>
  Community Painting Event:
</h4>

<p>
  No one can thrive without peace of mind. Creative expression opens opportunities for mindfulness, relaxation and a crucial distraction from the chaos of life. Our community painting event is free and open to anyone who wishes to join!
</p>




    <div class="center">
      <br>
      <br>

      <a href="http://bit.ly/join_us_bottom" target='_blank'><b class="link-button">Get involved</b></a>

      <a id="donate-header-button" href="https://donorbox.org/arm-new-brunswick" class="custom-dbox-popup"><b class="link-button">Learn More</b></a>
    </div>
    </section>
	</div>
</body>
<script src="js/modernizr.js"></script> <!-- Modernizr -->
<script src="../static/bower_components/jquery/dist/jquery.min.js"></script> <!-- Resource jQuery -->
<script src="js/main.js"></script>
</body>
</html>
