<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->

    <title>ARM | Archangel Raphael's mission </title>
</head>
<body>
	<div class="cd-fold-content single-page">
      <img src="../static/img/Our_Programs_Header.jpg" class="our-mission-header-img">

      <section class="fold-section-padding">

		<h2>Our Programs</h2>

        <h3>There is more than one way to make a difference in the community, learn about what ARM’s volunteers have been up to </h3>

        <br>

        <h4>Nightly Service:</h4>
		<p>
        ARM organizes a late night dinner every day at the New Brunswick Train Station and local area. This is our foundational program and has opened our mission up to so many issues in the community that we hope to address with your support!
		</p>

        <h4>Bi-annual Dinners:</h4>
        <p>
ARM hosts, alongside our sponsors, 2 -3 major dinner events a year. We use these as not only an opportunity to showcase the dedicated work of our local shops and citizens but as an opportunity to stock up and distribute supplies for the upcoming challenges (Coats in winter, sunscreen in summer, etc).
		</p>

        <h4>Pay-it-Forward wall:</h4>
        <p>
        Our maiden wall is located at Hidden Grounds Coffee on 4c Easton Avenue, check it out! Patrons can pay a coffee forward, or donate a small care package for the wall, which can then be claimed by anyone in need! With your help, simple solutions like this will be popping up all over New Brunswick
		</p>

        <a href="http://bit.ly/join_us_programs" target='_blank'><b class="link-button">Join Us</b></a>
        <form id="stripe-form" action="/charge" method="POST">
          <input type="hidden" id="stripeToken" name="stripeToken" />
          <input type="hidden" id="stripeEmail" name="stripeEmail" />
          <a id="stripe-button"><b class="link-button">Donate</b></a>
        </form>
      </section>
	</div>
</body>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
