<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->

	<title>3D Folding Panel</title>
</head>
<body>
	<div class="cd-fold-content single-page">
		<h2>Our Sponsors</h2>
		<em>ARM is proud to feature our sponsors who have made sacrifices to support us and demonstrate a commitment to change.</em>

        <p>
        <em> Hidden Grounds:</em> Hidden Grounds is a fantastic local coffee shop with TWO locations in New Brunswick. They are our gracious hosts at our community dinners, as well as a fantastic and dedicated team committed to making sure we all can get the caffeine fix we deserve. Make sure to <a href="http://thehiddengrounds.com/">try their cold brew!</a>
        </p>

        <p>
        <em>Destination Dogs:</em> Enjoy the taste of the world from the comfort of our city. Destination dogs is an all-star team of chefs and bartenders who merge their love of hot dogs, travel, and quality
        ingredients. We are also excited to announce that DDogs second location in Philly is now open, <a href="http://www.destinationdogs.com/"> try the Rocky Balboa!</a>
		</p>
	</div>
</body>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
