<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->

	<title>ARM | Archangel Raphael's mission </title>
</head>
<body>


    <div class="cd-fold-content single-page">

    <img src="../static/img/Our_Mission_Header.png" class="our-mission-header-img">

      <section class="fold-section-padding">

		<h2>Our Mission</h2>
		<h4>What we do, and why we do it.</h4>

		<p>
      ARM’s mission is to mobilize our community to serve  those in need.
		</p>

		<p>
      That means that we work hard to take things we are lucky to enjoy; delicious restaurants, great coffee, etc and find a way to offer those things that make our community special to the least served among us.
		</p>

		<p>
      We believe that fostering a shared sense of community while offering social services is the perfect combination for a stronger community, happier citizens, and more meaningful outreach.
		</p>

		<p>
      #JointheARMy or Donate today to help make a difference!
		</p>

        <a href="http://bit.ly/join_arm_mission" target='_blank'><b class="link-button">Join Us</b></a>
        <form id="stripe-form" action="/charge" method="POST">
        	<input type="hidden" id="stripeToken" name="stripeToken" />
        	<input type="hidden" id="stripeEmail" name="stripeEmail" />
        	<a id="stripe-button"><b class="link-button">Donate</b></a>
        </form>

      </section>
	</div>
</body>
<script
  src="http://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="../static/js/modernizr.js"></script> <!-- Modernizr -->
<script src="../static/js/bundle.js"></script>
</body>
</html>
