<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->

</head>
<body>
	<div class="cd-fold-content single-page">

      <img src="../static/img/Our_Partners_Header.png" class="our-mission-header-img">

      <section class="fold-section-padding">

		<h2>Our Sponsors</h2>
		<h3>ARM is proud to feature our sponsors who have made sacrifices to support us and demonstrate a commitment to change.</h3>

        <h4> Hidden Grounds:</h4>
        <p>
        Hidden Grounds is a fantastic local coffee shop with TWO locations in New Brunswick. They are our gracious hosts at our community dinners, as well as a fantastic and dedicated team committed to making sure we all can get the caffeine fix we deserve. Make sure to <a href="http://thehiddengrounds.com/" target="_blank">try their cold brew!</a>
        </p>

        <h4>Destination Dogs:</h4>
        <p>
        Enjoy the taste of the world from the comfort of our city. Destination dogs is an all-star team of chefs and bartenders who merge their love of hot dogs, travel, and quality
        ingredients. We are also excited to announce that DDogs second location in Philly is now open, <a href="http://www.destinationdogs.com/" target="_blank"> try the Rocky Balboa!</a>
		</p>

        <h4>New Brunswick Office of Innovation:</h4>
        <p>
          The New Brunswick Office of Innovation is making big moves in our community. Check out their <a href="https://www.facebook.com/innovateNB/" target="_blank">facebook page</a> to see all the amazing events they have planned and get involved to make New Brunswick's tomorrow even brighter than it is today!
        </p>
      </section>
	</div>
</body>
<script src="../static/bower_components/jquery/dist/jquery.min.js"></script> <!-- Resource jQuery -->
<script src="js/main.js"></script>
</body>
</html>
