<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->

	<title>ARM | Archangel Raphael's Mission</title>
</head>
<body>
  <div class="cd-fold-content single-page">

    <img src="../static/img/Our_Mission_Header.png" class="our-mission-header-img">

    <section class="fold-section-padding">

      <h2>Our Mission</h2>

      <p>
        ARM was founded in 2014 as group response to do more in the community. Collectively our founders came to realize that the difference between themselves and the wealthiest in the world was insignificant compared to the difference between themselves and the homeless. Shelter, food, multiple pairs of clothes, and access to showers, soap and toilets are basic necessities that only the homeless and third-world countries are forced to live without. In light of this, the difference between living in a mansion or a small studio apartment became inconsequential.
      </p>

      <p>
        The ARM team first addressed the situation by providing nightly, family-style community dinners to the homeless through partnership with local businesses. The dinners provided food and positive social engagement throughout the community and another critical issue soon came to light that was not being addressed: access to hygiene services.
      </p>


      <p>
        This inspired the ARM team’s current mission: to revitalize the homeless community by providing free access to basic hygiene services such as showers, haircuts, care kits and first-aid. ARM believes that no one should have to live without these basic necessities.
      </p>

    <div class="center">
      <br>
      <br>

      <a href="http://bit.ly/join_arm_mission" target='_blank'>
        <b class="link-button">Join Us</b>
      </a>

      <!-- <a id="donate-header-button" href="https://donorbox.org/arm-new-brunswick" class="custom-dbox-popup"> -->
        <!-- <b class="link-button">Donate</b> -->
      <!-- </a> -->
    </div>

    </section>
  </div>
</body>
<script src="js/modernizr.js"></script> <!-- Modernizr -->
<script src="../static/bower_components/jquery/dist/jquery.min.js"></script> <!-- Resource jQuery -->
<script src="js/main.js"></script>
</body>
</html>
