<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->

  <title>ARM | Archangel Raphael's mission </title>
</head>
<body>
	<div class="cd-fold-content single-page">

    <img src="../static/img/Our_Programs_Header.png" class="our-mission-header-img">

    <section class="fold-section-padding">

      <h2>Our Programs</h2>

      <h3>
        ARM is committed to providing basic hygienic resources to those in need.
      </h3>

      <h4>
        The Shower Bus:
      </h4>

      <p>
        To those experiencing homelessness it is almost impossible to gain access to one of the most basic tools necessary for change: hygiene. Being properly groomed is an essential element of our daily regimen; it promotes health, confidence, and the ability to engage in meaningful social interactions. Jobs, assistance programs and positive human connection are extremely difficult to sustain as each day inevitably brings dirt, sweat and grime.
      </p>

      <p>
        Providing showers to our homeless community is not only a method of cleanliness but also a great tool of empowerment. With the help of Lava Mae’s innovative toolkit we are currently raising funds to re-purpose a city bus into a mobile shower system. This system would provide free showers, toilets, toiletries and a washer and dryer to hundreds of homeless throughout Middlesex County. Local care providers will also be available to supply first-aid assistance for those in need.
      </p>

      <div class="center">
      <br>
      <br>

        <a id="donate-header-button" href="https://donorbox.org/arm-new-brunswick" class="custom-dbox-popup">
          <b class="link-button">YOU CAN HELP</b>
        </a>
      </div>
    </section>
  </div>
<script src="js/modernizr.js"></script> <!-- Modernizr -->
<script src="../static/bower_components/jquery/dist/jquery.min.js"></script> <!-- Resource jQuery -->
<script src="js/main.js"></script>
</body>
</html>
