<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->

	<title>ARM | Archangel Raphael's mission </title>
		<script>
		console.log("item-1 head loaded");
	</script>
</head>
<body>


    <div class="cd-fold-content single-page">

    <img src="../static/img/Our_Mission_Header.jpg" class="our-mission-header-img">

      <section class="fold-section-padding">

		<h2>Our Mission</h2>
		<h4>What we do, and why we do it.</h4>

		<p> ARM’s mission is to mobilize communities to create sustainable pathways to empowerment through localized, outcome driven initiatives.
		</p>

		<p> What does that mean? It means we do our best to provide social programs to aid and empower the poor/working class of our community.
		</p>

		<p> We are professionals, students, millennials, baby boomers, Muslims, Christians, graphic designers, pharmacists, immigrants, children, Egyptians, and Puerto Ricans.
		</p>

        <a href="http://bit.ly/join_arm_mission" target='_blank'><b class="link-button">Join Us</b></a>
        <form id="stripe-form" action="/charge" method="POST">
        	<input type="hidden" id="stripeToken" name="stripeToken" />
        	<input type="hidden" id="stripeEmail" name="stripeEmail" />
        	<a id="stripe-button" class="custom-dbox-popup"><b class="link-button">Donate</b></a>
        </form>

      </section>
	</div>
		<script>
		console.log("item-1 end of body loaded");
	</script>
</body>
<script src="../static/bower_components/jquery/dist/jquery.min.js"></script> <!-- Resource jQuery -->
<script src="js/main.js"></script>

</body>
</html>
