<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->

  <title>ARM | Archangel Raphael's mission </title>

</head>
<body>
	<div class="cd-fold-content single-page">
      <img src="../static/img/Our_Programs_Header.png" class="our-mission-header-img">

      <section class="fold-section-padding">

		<h2>Our Programs</h2>

        <h3>There is more than one way to make a difference in the community, learn about what ARM’s volunteers have been up to </h3>

        <br>

        <h4>Community Dinners:</h4>
        <p>
          ARM’s signature program is our Community Dinner! We have a Thanksgiving and Easter Community dinner at Hidden Grounds Espresso Bar to share all the delicious food New Brunswick has to offer with our guests. We have featured entrees from Destination Dogs, Stage Left, Brother Jimmy’s BBQ, Harvest Moon, Tacoria, and many more!
        </p>

        <h4>Community Cuts:</h4>
        <p>
          Nothing gets you on your way to success like a fresh cut! ARM has partnered with local salons and barber shops to begin our Community Cuts series. Professional Barbers and Stylists volunteer their skills to help keep our citizens motivated and encouraged.
        </p>

        <h4>Volunteer Collaborations:</h4>
        <p>
          The ARMy is large, and dedicated! This means that we are always looking for other opportunities lend a hand. ARM and our volunteers have helped organize refugee fundraisers, helped staff New Brunswick's Code Blue initiative and the Rotating Shelter, and more!
        </p>

        <p>
          Want to see this list grow? Join Us! Or Donate to help make change possible.
        </p>

        <a href="http://bit.ly/join_us_programs" target='_blank'><b class="link-button">Join Us</b></a>
        <form id="stripe-form" action="/charge" method="POST">
          <input type="hidden" id="stripeToken" name="stripeToken" />
          <input type="hidden" id="stripeEmail" name="stripeEmail" />
          <a id="stripe-button"><b class="link-button">Donate</b></a>
        </form>
      </section>
	</div>
</body>
<script
  src="http://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="../static/js/modernizr.js"></script> <!-- Modernizr -->
<script src="../static/js/bundle.js"></script>
</body>
</html>
