{% extends "start.html" %}
{% block content %}

<main>
    <div class = "stuffs">
        <img src = "../static/img/Wall 47.png" style = "height: 500px; width: 100%; vertical-align:middle;">
    </div>

    <div class = "class2">
        <p style = "text-align: center; padding-top: 25px; font-size: 25px;"><b>YOUR CONTRIBUTION MATTERS!</b></p>
        <hr style = "width: 20px;">
        <p style = "text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br></p>
    </div>
    
    <div class = "another-banner">
        <img src = "../static/img/community.jpg" style = "padding-bottom: 80px;"></img>
    </div>

    <!--<footer id="sticky">&copy; ARM New Brunswick, 2017</footer>-->
 
    <footer class = "row">
            <p style = "text-align: center; background-color:red; bottom:0; margin: 0px; padding: 0px; height: 50px; color: white;" ><br/>&copy; SAMPLE</p>
    </footer>

    
</main>

{% endblock %}