  <nav class="new-header-main-nav-wrapper">
  <ul class="new-header-main-nav">
    <!-- <li id="main-logo"> -->
      <!-- <img class="arm-nav-logo" src="../static/img/arm_banner.png" alt="ARM Logo"> -->
    <!-- </li> -->

    <li>
      <a id="donate-header-button" href="https://donorbox.org/arm-new-brunswick" class="custom-dbox-popup">Donate Now</a>
    </li>
    <li>
      <a href="#0" class="new-header-subnav-trigger"><span>Connect</span></a>

      <ul>
        <li class="go-back"><a href="#0">Menu</a></li>
        <li><a href="https://www.facebook.com/armnewbrunswick/" target="_blank">Facebook</a></li>
        <li><a href="https://twitter.com/armnewbrunswick" target="_blank">Twitter</a></li>
        <li><a href="https://www.instagram.com/armnewbrunswick/" target="_blank">Instagram</a></li>
        <li><a href="https://www.snapchat.com/add/ARMNewBrunswick" target="_blank">Snapchat</a></li>
        <li><a href="mailto:info@armnewbrunswick.org?Subject=How%20Can%20I%20Help?" target="_blank">Email Us!</a></li>

        <li><a href="#0" class="placeholder">Placeholder</a></li>
      </ul>
    </li>
  </ul> <!-- .new-header-main-nav -->
  </nav> <!-- .new-header-main-nav-wrapper -->
