<!-- SEO data -->
<section style="display:none" itemscope itemtype="http://schema.org/Organization">
  Hello, my name is
  <span itemprop="legalName">ARM</span>,
  <span itemprop="jobTitle">Charity and Comminoty Engagement</span>
  <span itemprop="affiliation">Destination Dogs, Hidden Grounds</span>.
  <span itemprop="additionalName">Archangel Raphael's Mission</span>.
  <a href="http://www.armnewbrunswick.org" itemprop="url">www.armnewbrunswick.org</a>.
  <section itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="addressLocality">New Brunswick</span>,
    <span itemprop="addressRegion">New Jersey</span>.
  </section>
</section>

